<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<link rel="stylesheet" href="main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
	<script type="text/javascript" src="js5.js"></script>
</head>
<body ng-controller="profileController">

	<div class="user-profile">
		<div class="pic-container">
			<img ng-click="profilePic.show = !profilePic.show" ng-src="{{profilePic.url}}">
			<input ng-show="!profilePic.show" ng-model="profilePic.url" class="profile-pic-url" type="url"></input>
			<button class="profile-pic-url" ng-show="!profilePic.show" ng-click="profilePic.show = !profilePic.show">Submit</button>
		</div>
		<div class="content-container">
			<h1>User Name</h1>
			<div class="about-container paragraph-block" ng-repeat="paragraph in paragraphs">
				<h4>{{ paragraph.name }}</h4>
				<p ng-show="paragraph.show" ng-bind="paragraph.content" ng-click="paragraph.show = !paragraph.show"></p>
				<div class="textarea-container" ng-show="!paragraph.show">
					<textarea class="text-block" type="text" ng-model="paragraph.content"></textarea>
					<button ng-click="paragraph.show = !paragraph.show">Submit</button>
				</div>
			</div>
			<div class="villains-container list-block" ng-repeat="list in lists">
				{{ list.name }}
				<ul ng-repeat="listItem in list.listContent">
					<li ng-show="listItem.show" ng-click="listItem.show = !listItem.show">{{ listItem.value }}</li>
					<input type="text" ng-model="listItem.value" ng-show="!listItem.show" ng-click="listItem.show = !listItem.show"></input>
				</ul>
			</div>
			
		</div>

	</div>
</body>
</html>